%section#main{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.cover 
		%h1.cover-title ParkVillain
		%h3.cover-subtitle Reinventing Parking
		#form-wrapper
			= render "form"
			%small * We promise no spam, cause we hate spam
		%footer
			%p
				Powered by 
				%a{href: "https://parkvillain.herokuapp.com"} ParkVillain.com

